@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-body: var(--font-geist-sans);
  --color-primary: #f99991;
  --color-primary-50: #f99991;
  --color-primary-400: #f99991;
  --color-primary-600: #f88379;
  --font-heading: "Helvetica Now Display", sans-serif;
}

body {
  font-family: "Helvetica Now Display", sans-serif;
}

@layer base {
  .font-heading {
    font-family: var(--font-heading);
  }

  h1 {
    @apply font-[700] text-[32px] sm:text-[34px] md:text-[36px]  text-[#000000d1] leading-[115%] md:leading-[110%] tracking-[1.2px] md:tracking-[1px];
  }

  h3 {
    @apply font-[700] text-[24px] md:text-[26px] lg:text-[28px] text-zinc-800 font-heading leading-[130%] md:leading-[120%] tracking-[0.6px] md:tracking-[0.4px];
  }

  h5 {
    @apply font-[600] text-[18px] md:text-[20px] lg:text-[22px] text-zinc-800 font-body leading-[115%] md:leading-[110%] tracking-[0.5px] md:tracking-[0.4px];
  }

  h6 {
    @apply font-[600] text-[17px] lg:text-[18px] text-zinc-800 font-heading tracking-[0.4px] md:tracking-[0.2px] leading-[125%] md:leading-[120%];
  }

  p {
    @apply font-[450] text-[15px] md:text-[16px] text-neutral-700  leading-[165%] md:leading-[160%] tracking-[0.4px] md:tracking-[0px];
  }

  .subheading {
    @apply font-medium text-[18px] text-zinc-800 font-body;
  }

  .caption {
    @apply font-[450] text-[14px] text-[#000000a6] font-body leading-[165%] md:leading-[160%] tracking-[0.6px] md:tracking-[0.4px];
  }

  .small-text {
    @apply font-[450] text-[12px] text-[#00000099] font-body;
  }

  .consistent {
    @apply container mx-auto px-4 md:px-6 xl:px-8 2xl:px-10;
  }

  a {
    @apply text-[16px] font-medium text-neutral-600 appearance-none hover:text-primary transition-colors font-body;
  }

  ul {
    @apply font-normal text-[16px] md:text-[17px] font-body;
  }

  li {
    @apply list-none;
  }

  input {
    @apply outline-none focus:outline-none focus:border-primary font-normal text-[15px] md:text-[16px] font-body;
  }
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ThinIta.eot");
  src:
    local("/font/Helvetica Now Display Thin Ita"),
    local("/font/HelveticaNowDisplay-ThinIta"),
    url("/font/HelveticaNowDisplay-ThinIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ThinIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ThinIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ThinIta.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Light.eot");
  src:
    local("/font/Helvetica Now Display Light"),
    local("/font/HelveticaNowDisplay-Light"),
    url("/font/HelveticaNowDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Light.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Light.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-BoldIta.eot");
  src:
    local("/font/Helvetica Now Display Bold Ita"),
    local("/font/HelveticaNowDisplay-BoldIta"),
    url("/font/HelveticaNowDisplay-BoldIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-BoldIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-BoldIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-BoldIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-RegIta.eot");
  src:
    local("/font/Helvetica Now Display Reg Ita"),
    local("/font/HelveticaNowDisplay-RegIta"),
    url("/font/HelveticaNowDisplay-RegIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-RegIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-RegIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-RegIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtLtIta.eot");
  src:
    local("/font/Helvetica Now Display ExtLt Ita"),
    local("/font/HelveticaNowDisplay-ExtLtIta"),
    url("/font/HelveticaNowDisplay-ExtLtIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtLtIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtLtIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtLtIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-MedIta.eot");
  src:
    local("/font/Helvetica Now Display Med Ita"),
    local("/font/HelveticaNowDisplay-MedIta"),
    url("/font/HelveticaNowDisplay-MedIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-MedIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-MedIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-MedIta.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtLt.eot");
  src:
    local("/font/Helvetica Now Display ExtLt"),
    local("/font/HelveticaNowDisplay-ExtLt"),
    url("/font/HelveticaNowDisplay-ExtLt.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtLt.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtLt.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtLt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtBlk.eot");
  src:
    local("/font/Helvetica Now Display ExtBlk"),
    local("/font/HelveticaNowDisplay-ExtBlk"),
    url("/font/HelveticaNowDisplay-ExtBlk.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtBlk.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtBlk.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtBlk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Bold.eot");
  src:
    local("/font/Helvetica Now Display Bold"),
    local("/font/HelveticaNowDisplay-Bold"),
    url("/font/HelveticaNowDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Bold.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtBdIta.eot");
  src:
    local("/font/Helvetica Now Display ExtBd Ita"),
    local("/font/HelveticaNowDisplay-ExtBdIta"),
    url("/font/HelveticaNowDisplay-ExtBdIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtBdIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtBdIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtBdIta.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Regular.eot");
  src:
    local("/font/Helvetica Now Display Regular"),
    local("/font/HelveticaNowDisplay-Regular"),
    url("/font/HelveticaNowDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtBlkIta.eot");
  src:
    local("/font/Helvetica Now Display ExBlk It"),
    local("/font/HelveticaNowDisplay-ExtBlkIta"),
    url("/font/HelveticaNowDisplay-ExtBlkIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtBlkIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtBlkIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtBlkIta.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Thin.eot");
  src:
    local("/font/Helvetica Now Display Thin"),
    local("/font/HelveticaNowDisplay-Thin"),
    url("/font/HelveticaNowDisplay-Thin.eot?#iefix") format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Thin.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Thin.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-LightIta.eot");
  src:
    local("/font/Helvetica Now Display Light Ita"),
    local("/font/HelveticaNowDisplay-LightIta"),
    url("/font/HelveticaNowDisplay-LightIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-LightIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-LightIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-LightIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-ExtraBold.eot");
  src:
    local("/font/Helvetica Now Display ExtBd"),
    local("/font/HelveticaNowDisplay-ExtraBold"),
    url("/font/HelveticaNowDisplay-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-ExtraBold.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-ExtraBold.woff") format("woff"),
    url("/font/HelveticaNowDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Medium.eot");
  src:
    local("/font/Helvetica Now Display Medium"),
    local("/font/HelveticaNowDisplay-Medium"),
    url("/font/HelveticaNowDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Medium.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Medium.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-HairlineI.eot");
  src:
    local("/font/Helvetica Now Display Hairline"),
    local("/font/HelveticaNowDisplay-HairlineI"),
    url("/font/HelveticaNowDisplay-HairlineI.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-HairlineI.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-HairlineI.woff") format("woff"),
    url("/font/HelveticaNowDisplay-HairlineI.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-BlackIta.eot");
  src:
    local("/font/Helvetica Now Display Black Ita"),
    local("/font/HelveticaNowDisplay-BlackIta"),
    url("/font/HelveticaNowDisplay-BlackIta.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-BlackIta.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-BlackIta.woff") format("woff"),
    url("/font/HelveticaNowDisplay-BlackIta.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Black.eot");
  src:
    local("/font/Helvetica Now Display Black"),
    local("/font/HelveticaNowDisplay-Black"),
    url("/font/HelveticaNowDisplay-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Black.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Black.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "/font/Helvetica Now Display";
  src: url("/font/HelveticaNowDisplay-Hairline.eot");
  src:
    local("/font/Helvetica Now Display Hairline"),
    local("/font/HelveticaNowDisplay-Hairline"),
    url("/font/HelveticaNowDisplay-Hairline.eot?#iefix")
      format("embedded-opentype"),
    url("/font/HelveticaNowDisplay-Hairline.woff2") format("woff2"),
    url("/font/HelveticaNowDisplay-Hairline.woff") format("woff"),
    url("/font/HelveticaNowDisplay-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* iOS style scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

@media (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
  }
}

.loading-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hourglassBackground {
  position: relative;
  background-color: rgb(71, 60, 60);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 30px auto;
}

.hourglassContainer {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 50px;
  height: 70px;
  -webkit-animation: hourglassRotate 2s ease-in 0s infinite;
  animation: hourglassRotate 2s ease-in 0s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.hourglassContainer div,
.hourglassContainer div:before,
.hourglassContainer div:after {
  transform-style: preserve-3d;
}

@-webkit-keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.hourglassCapTop {
  top: 0;
}

.hourglassCapTop:before {
  top: -25px;
}

.hourglassCapTop:after {
  top: -20px;
}

.hourglassCapBottom {
  bottom: 0;
}

.hourglassCapBottom:before {
  bottom: -25px;
}

.hourglassCapBottom:after {
  bottom: -20px;
}

.hourglassGlassTop {
  transform: rotateX(90deg);
  position: absolute;
  top: -16px;
  left: 3px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #999999;
}

.hourglassGlass {
  perspective: 100px;
  position: absolute;
  top: 32px;
  left: 20px;
  width: 10px;
  height: 6px;
  background-color: #999999;
  opacity: 0.5;
}

.hourglassGlass:before,
.hourglassGlass:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #999999;
  left: -17px;
  width: 44px;
  height: 28px;
}

.hourglassGlass:before {
  top: -27px;
  border-radius: 0 0 25px 25px;
}

.hourglassGlass:after {
  bottom: -27px;
  border-radius: 25px 25px 0 0;
}

.hourglassCurves:before,
.hourglassCurves:after {
  content: "";
  display: block;
  position: absolute;
  top: 32px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333;
  animation: hideCurves 2s ease-in 0s infinite;
}

.hourglassCurves:before {
  left: 15px;
}

.hourglassCurves:after {
  left: 29px;
}

@-webkit-keyframes hideCurves {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideCurves {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.hourglassSandStream:before {
  content: "";
  display: block;
  position: absolute;
  left: 24px;
  width: 3px;
  background-color: white;
  -webkit-animation: sandStream1 2s ease-in 0s infinite;
  animation: sandStream1 2s ease-in 0s infinite;
}

.hourglassSandStream:after {
  content: "";
  display: block;
  position: absolute;
  top: 36px;
  left: 19px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  animation: sandStream2 2s ease-in 0s infinite;
}

@-webkit-keyframes sandStream1 {
  0% {
    height: 0;
    top: 35px;
  }

  50% {
    height: 0;
    top: 45px;
  }

  60% {
    height: 35px;
    top: 8px;
  }

  85% {
    height: 35px;
    top: 8px;
  }

  100% {
    height: 0;
    top: 8px;
  }
}

@keyframes sandStream1 {
  0% {
    height: 0;
    top: 35px;
  }

  50% {
    height: 0;
    top: 45px;
  }

  60% {
    height: 35px;
    top: 8px;
  }

  85% {
    height: 35px;
    top: 8px;
  }

  100% {
    height: 0;
    top: 8px;
  }
}

@-webkit-keyframes sandStream2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  91% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sandStream2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  91% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.hourglassSand:before,
.hourglassSand:after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  background-color: white;
  perspective: 500px;
}

.hourglassSand:before {
  top: 8px;
  width: 39px;
  border-radius: 3px 3px 30px 30px;
  animation: sandFillup 2s ease-in 0s infinite;
}

.hourglassSand:after {
  border-radius: 30px 30px 3px 3px;
  animation: sandDeplete 2s ease-in 0s infinite;
}

@-webkit-keyframes sandFillup {
  0% {
    opacity: 0;
    height: 0;
  }

  60% {
    opacity: 1;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 17px;
  }
}

@keyframes sandFillup {
  0% {
    opacity: 0;
    height: 0;
  }

  60% {
    opacity: 1;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 17px;
  }
}

@-webkit-keyframes sandDeplete {
  0% {
    opacity: 0;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  1% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  24% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  25% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  50% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  90% {
    opacity: 1;
    top: 41px;
    height: 0;
    width: 10px;
    left: 20px;
  }
}

@keyframes sandDeplete {
  0% {
    opacity: 0;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  1% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  24% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  25% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  50% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  90% {
    opacity: 1;
    top: 41px;
    height: 0;
    width: 10px;
    left: 20px;
  }
}
